// #region Global color tokens
$-clr-brown-100: #e3e2df;
$-clr-brown-300: #a79e89;
$-clr-brown-400: #bcac86;
$-clr-brown-700: #242120;

$default: (
  "neutral": (
    "100": $-clr-brown-100,
    "700": $-clr-brown-700,
  ),
  "primary": (
    "300": $-clr-brown-300,
    "400": $-clr-brown-400,
  ),
);

// #endregion

// #region Contextual color tokens
$color-neutral-100: var(--neutral-100);
$color-neutral-700: var(--neutral-700);

$color-primary-300: var(--primary-300);
$color-primary-400: var(--primary-400);
// #endregion
