@use "colors" as *;
@use "typography" as *;
@use "sizes" as *;

$default-theme: $default;
$enable-media-query-dark-mode: false;

// #region Contextual
$color-text-default: $color-neutral-100;
$color-background-default: $color-neutral-700;
$color-text-interactive-default: $color-primary-300;
$color-text-interactive-hover: $color-primary-400;

$border-radius-1: $size-2;
$border-radius-2: $size-4;

$box-shadow-1: 0px 6px 5px rgb(0, 0, 0, 0.012), 0px 22px 18px rgb(0, 0, 0, 0.018), 0px 100px 80px rgb(0, 0, 0, 0.03);
$box-shadow-inner: inner 0px 6px 5px rgb(0, 0, 0, 0.012), inner 0px 22px 18px rgb(0, 0, 0, 0.018),
  inner 0px 100px 80px rgb(0, 0, 0, 0.03);
$box-shadow-2: 0px 6px 5px rgb(0, 0, 0, 0.016), 0px 22px 18px rgb(0, 0, 0, 0.024), 0px 100px 80px rgb(0, 0, 0, 0.04);
$box-shadow-3: 0px 6px 5px rgb(0, 0, 0, 0.02), 0px 22px 18px rgb(0, 0, 0, 0.03), 0px 100px 80px rgb(0, 0, 0, 0.05);
$box-shadow-4: 0px 6px 5px rgb(0, 0, 0, 0.03), 0px 22px 18px rgb(0, 0, 0, 0.042), 0px 100px 80px rgb(0, 0, 0, 0.07);
$box-shadow-5: 0px 6px 5px rgb(0, 0, 0, 0.04), 0px 22px 18px rgb(0, 0, 0, 0.06), 0px 100px 80px rgb(0, 0, 0, 0.1);
// #endregion

// #region body
$body-font-family: $font-family-base;
$body-font-size: $font-size-400;
$body-line-height: 1.5;
$body-font-weight: $font-weight-regular;
$body-text-color: $color-text-default;
$body-background-color: $color-background-default;
$body-background-image: url("/images/background.jpg");

$link-color: $color-text-interactive-default;
$link-text-decoration: underline $link-color;
$link-text-decoration-hover: none;
$link-color-hover: $color-text-interactive-hover;

$heading-font-family: $font-family-accent;
$heading-color-default: $color-neutral-100;
$heading-font-weight: $body-font-weight;
$heading-letter-spacing: 0;
$heading-line-height: 1.1;
$heading-text-transform: uppercase;

$heading-1-font-size: $font-size-600;
$heading-1-color: $heading-color-default;
$heading-2-font-size: $font-size-500;
$heading-2-color: $heading-color-default;
// #endregion

// #region layout
$grid-gap: $size-6;
$flex-group-gap: $size-4;

$section-padding-block: $size-10;

$container-min-margin-inline: $size-4;
$container-max-width: 64rem;
$container-max-width__inner: 40rem;
// #endregion

// #region buttons
$button-font-family: $body-font-family;
$button-font-size: $font-size-400;
$button-font-weight: $body-font-weight;
$button-text-transform: none;
$button-padding: 0.75em 2em;
$button-border: 0;
$button-border-radius: $border-radius-1;

$button-primary-color: $color-neutral-700;
$button-primary-background: $color-primary-300;
$button-primary-color-hover: $button-primary-color;
$button-primary-background-hover: $color-primary-400;
// #endregion

// #region cards
$card-padding: 0;
$card-shadow: $box-shadow-1;
$card-border: 1px solid $color-primary-300;
$card-border-radius: 0;
$card-background-default: $color-primary-300;
// #endregion

// #region game container
$game-container-background: $color-neutral-700;
$game-container-pattern: url("/images/pattern.jpg");
$game-container-border-outer: 1px solid $color-primary-300;
$game-container-border-inner: 2px solid $color-primary-300;
$game-container-shadow-outer: $box-shadow-1;
$game-container-shadow-inner: $box-shadow-inner;
// #endregion
