@use "../abstracts" as *;

.nav {
  display: flex;
  list-style: none;
  gap: $navigation-gap;
  font-family: $navigation-font-family;
  font-weight: $navigation-font-weight;

  a {
    color: $navigation-color;
    text-decoration: $navigation-link-text-decoration;
    transition: 100ms color ease-in-out;

    &:is(:hover, :focus) {
      color: $navigation-color-hover;
    }
  }
}
