@use "../abstracts/" as *;

.site-footer {
  background-color: $footer-background-color;
  color: $footer-text-color;
  padding: $site-footer-padding;
  margin: $site-footer-margin;

  a {
    color: $footer-link-color;
    text-decoration: $footer-link-text-decoration;
    font-family: $footer-link-font-family;

    &:is(:hover, :focus) {
      color: $footer-link-color-hover;
    }
  }
}
